.input{width: 90%;height: 20px;margin-bottom: 3%;}
.fa-plus{margin-left: -6%;}
.parrent{margin-top: 10%;border: 1px solid;margin-left:30%;
width: 300px;}
.button{font-size: 20px ;}
.showdata{
    width: 30%;height: 20px;;border: 1px solid;
    text-align: left;
    position:relative;
    margin-left: 31%;
}