.graph{width: 400px;
margin-top: 2%;
/*color: rgb(100, 229, 247);*/
/*border: 1px solid;*/
background-color: white;
/*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
gap: 2%;
}
.home{width: 400px;
    height: 410px;
margin-top: 2%;
/*color: rgb(100, 229, 247);*/
/*border: 1px solid;*/
background-color: white;
/*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}